*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F7FFD9;
    font-family: 'Inter', sans-serif;
}
.home-page img{
    width: 71%;
    border-radius: 12%;
}

 .form-control {
    /* text-indent: 40px; */
    padding: 27px;
    width: 90%;
}
/*
form i{
    position: absolute;
    top: 20px;
    color: blue;
} */
form button{
    width: 90%;
}